Package: dcvix-launcher
Version: @VERSION@-@RELEASE@
Section: net
Priority: optional
Architecture: amd64
Maintainer: Diego Cortassa <diego@cortassa.net>
Depends: libgl1, libx11-6, libxkbcommon0
Description: dcvix is a session broker and server-pool manager
 for Amazon DCV. It provides centralized authentication,
 desktop session lifecycle management,
 and automatic allocation of DCV servers.
 This package provides the launcher GUI that allows users to
 authenticate, select a DCV server, and launch the DCV viewer.
